<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gbaca.seguimento_equipo_agricola">

    <!-- Para uso de Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Para uso de GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Para poder deshabilitar Botón de Tareas en Android -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- Para poder habilitar el Hostpot -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- Para mantener la CPU encendida -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Para poder instalar el archivo apk -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Servicios.WVAApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icono_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity
            android:name=".Actividades.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividades.buscadorOS"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Actividades.buscadorFrente"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Actividades.buscadorImplemento"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Actividades.buscadorActividadInactiva"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Actividades.pantallaBienvenida"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Actividades.pantallaActualizarApp"
            android:screenOrientation="landscape"
            />
        <service
            android:name=".Servicios.Envio_Datos_Timer"
            android:process=":envio" />
        <service
            android:name=".Servicios.EVENTOS_X_DETALLE"
            android:process=":eventos" />
    </application>

</manifest>